* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
    background-size: cover;
    background-position: bottom;
    transition: 400ms ease-in-out;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 25px;
}

.app-content {
    max-width: 520px;
    width: 100%;
}

.search-box {
    margin: 0 0 50px;
}

.search-bar {
    color: white;
    display: block;
    width: 100%;
    padding: 15px;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    font-size: 16px;
    font-family: inherit;
}

::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

.info-box,
.small-info-box {
    padding: 25px;
    margin: 0 0 15px;
    color: white;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
}

.temp {
    font-weight: bold;
    font-size: 96px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.weather {
    font-size: 48px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.location {
    margin-top: 25px;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.extra {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.small-info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.small-info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
}

.small-info-box p {
    font-weight: bold;
}

.clear {
    background-image: url(assets/clear.jpg);
}

.clouds {
    background-image: url(assets/clouds.jpg);
}

.rain {
    background-image: url(assets/rain.jpg);
}